[init]
	defaultBranch = main

[user]
	email = tristan.jockel@icloud.com
	name = Tristan Jockel
	# TODO
	signingKey = /home/tristanjockel/.ssh/id_ecdsa_sk_github

[gpg]
	format = ssh

[commit]
	gpgsign = true
